.mainheading {
  color: red;
}
.city {
  border-style: solid;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 100px;
  border-color: blueviolet;
}
.inputstyle {
  padding: 12px;
  margin-bottom: 20px;
}
.subheading
{
  color: blue;
}
